# any errors.log should be ignored by the repo
**/errors.log
/node_modules

# Everything in /cli/bin EXCEPT the README
/cli/bin/*
!/cli/bin/README

/cli/src/auto/*.js
/cli/json
/cli/node_modules

/editor/build
/editor/node_modules

/dict/work
/dict/cmdTypes.rows
/dict/dict.html
/dict/front.html
/dict/paramTypes.rows
/dict/json-*
/dict/json_latest

/docs
/json/*.json
/tars
/test
/*.swp

