# any errors.log should be ignored by the repo
**/errors.log
/dict/work
./cli/tests/ionconfig/nate1-ion
./cli/tests/ionconfig/with_udp_fail-ion
/editor/build
/editor/node_modules
/editor/package-lock.json
package-lock.json
package.json
/node_modules
/dict/cmdTypes.rows
/dict/dict.html
/dict/front.html
/dict/paramTypes.rows
/docs
/json
/tars
/test
/*.swp
